<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <h1>The only true diva of RuPaul's Drag Race Season 4</h1>

    <p>Caliente was announced to be one of thirteen contestants in the fourth season of RuPaul's Drag Race on November 13, 2011. She placed eighth overall, being eliminated in a lip sync by seventh placer Willam. She was in archive footage in the season 5 finale, and made an appearance at the season six live finale, where she asked a viewer question to Bianca Del Rio.

        Outside of Drag Race, she can be seen in the beginning of the 2012 NewNowNext awards. Her acting career began in 2015 when she played a role in the season-two finale of Broad City as a shop owner. In 2016, she was in the pilot episode of Search Party. In 2017, she played a part with fellow Drag Race alumni Bob The Drag Queen, Katya and Detox in a season finale episode of Playing House. She made an appearance as a backup singer on the music video for Bob The Drag Queen and Alaska's "Yet Another Dig". She played the character Veronica in Pose, appearing in the sixth and eighth episodes of the first season. She later confirmed she would be back for more episodes of Pose's second season on Bootleg Fashion Photo Review, the web series by Drag Race alum, Yuhua Hamasaki.
        
        
        Jiggly Caliente at DragCon (2018)
        In September 2018, Caliente performed as a background dancer behind Christina Aguilera for Opening Ceremony's Spring 2019 collection alongside other Drag Race alumni. In November 2018, she made an appearance on Saturday Night Live with Drag Race alumn Peppermint, as a Drag Queen for the Garmin GP-Yasss sketch.
        
        In 2020, Jiggly Caliente co-hosted Translation, the first talk show on a major network hosted by an all-trans cast</p>

    <a href="/homepage">Return to Homepage</a> <br/>
    <a href="/works">Works</a><br/>
    <a href="/gallery">Gallery</a>
  </body>
</html>
